@model TravelTripProject.Models.Siniflar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.Baslik, "Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih, "Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage, "Resim")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama, "Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Blog Ekle</button>
</form>


